.sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.sidebar:hover::-webkit-scrollbar {
    display: inline;
}

::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: gray;
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    list-style: none;
    padding: 0;
    margin: 0
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0
}

.sidebarGroupList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarTitle {
    margin-bottom: 20px;
}
